<div class="dashboard-column-container">
  <div class="dashboard-column">
    <div class="dashboard-heading">
      Your Packages
    </div>
    <ul>
      <% @packages.each do |package| %>
        <% if package.user.id == current_user.id  %>
          <%= render 'package_card', package: package  %>
        <% end %>
      <% end %>
    </ul>
  </div>
<%= console %>
