<div class="card-body">
  <table class="table opening-times text-sm mb-0">
    <tbody>
      <tr>
        <th>Monday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Tuesday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Wednesday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Thursday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Friday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Saterday</th>
        <td class="pr-0 text-right border-0">8:00 am - 6:00 pm</td>
      </tr>
      <tr>
        <th>Sunday</th>
        <td class="pr-0 text-right border-0">Closed</td>
      </tr>
    </tbody>
  </table>
</div>
