<div class="card-header bg-gray-100 py-4 border-0">
  <div class="media align-items-center">
    <div class="media-body">
      <p class="subtitle text-sm">Opening in 5 minutes</p>
      <h4 class="mb-0"><strong>Opening Hours</strong></h4>
    </div>
    <i class="far fa-clock mr-3 mt-2" style="font-size:54px"></i>
  </div>
</div>
<div class="card-body">
  <table class="table opening-times text-sm mb-0">
    <tbody>
      <% date.availability.each do |day, hours| %>
      <tr>
        <th><%= day %></th>
        <td><%= hours %></td>
      </tr>
      <%end %>
    </tbody>
  </table>
</div>
