<p><%= @user.username %> requested to upload a date</p>

1. Log in <a href="http://www.itsadate.online/" target="_blank">Here</a>
2. Go to admin page on the Navbar
3. Click on date_activities and check the latest created dates
4. Check the date and update confirmed to true
5. finished