// Specific CSS for your home-page
body {
  font-family: 'Raleway', sans-serif;
}

.content-container{
  background-color: white;
}

.category-link {
  width: 100%;
}
//banner
.banner{
  width: 100%;
  height: 90vh;
  background-position: center;
  background-size: 100%;
  background-size: cover;
}

.banner-content {
  margin-top: 240px;
}

.hover-animate {
    transition: all 0.2s ease-in-out;
}


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.tile-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 30;
}


.card-home{
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
  height: 300px;
  position: relative;
}

.text-button{
  // border-radius: 20px;
  // padding: 5px;
  // background-color: #F07B89;
  // position: absolute;
  // top: 10px;
  // left: 10px;
  // font-size: 20px;
}
