
<div class="banner" style="background-image:url('<%= image_path("background.jpg", ) %>')">
  <h1 class="banner-text">Make a date with the unexpected</h1>
</div>

<%= link_to 'index page', dates_index_path %>

