.banner {
  background-size: 100%;
  background-position: center;
  padding: 100px 0;
  position: relative;
  margin-bottom: 50px;
  object-fit: cover;
}

.banner-text-one {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  padding-top: 40px;
}

.banner-text-two {
  text-align: center;
  padding-top: 65px;
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Raleway', sans-serif;
}

.logo-calender{
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) {
  .banner-text-one {
    font-size: 25px;
    text-align: center;
    
  }

  .banner-text-two {
    font-size: 20px;
    text-align: right;
  }

  #btn-search {
    margin-bottom: 10px;
  }
}

