.date-btn {
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  background-color: #85C3DC;
  border: 0.2px solid grey;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  opacity: 07;
  transition: 0.2s;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #85C3DC;
    background-color: white;
  }
}

.date-btn-lg {
  font-size: 20px;
}
