.container-fluid{
  background-color: white;
}

.search-results {
  color: #85C3DC;
  font-size: 40px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 0.2px solid lightgrey;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  width: 80%;
  h2 {
    margin-bottom: 0px;
    font-size: 30px;
  }
}

.filter-heading {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.categories-boxes {
  display: flex;
  padding: 2px;
}

.category-name {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 5px;
}


.price-search {
  padding: 10px;
}

.category-search {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.simple_form.search .form-check {
  display: inline-block;
  margin-right: 10px;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.2rem 0.9rem;
  background-color: white;
  color: #F07B89;
  border: 1px solid #F07B89;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #F07B89;
  color: white;
}

.form-control{
  background-color: white !important;
}

.pagination {
  font-family: inherit;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 600px;
  background-color: #85C3DC;
  margin-left: 30px;
  font-size: 27px;
  border-radius: 10px;
  color: white;
}

a.next_page{
  color: white;
  &:hover{
    text-decoration: none;
    transform: scale(1.03);
  }
}

a.previous_page{
  color: white;
  &:hover{
    text-decoration: none;
    transform: scale(1.03);
  }
}

em.current{
  color: black;
  transform: scale(1.1);
}

a{
  color: white;
  &:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.1);
  }
}


