.container-fluid{
  background-color: white;
}

.search-results {
  margin-left: 30px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 0.2px solid lightgrey;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  width: 80%;
  h2 {
    margin-bottom: 0px;
    font-size: 30px;
  }
}

.filter-heading {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.categories-boxes {
  display: flex;
  padding: 2px;
}

.category-name {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 5px;
}


.price-search {
  padding: 10px;
}

.category-search {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.filter-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.my-class{
  position: absolute;
  transform: scale(0);
}

.my-class + label{
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 5px;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.my-class:checked + label{
  cursor: pointer;
  background-color: #7E73FF;
  color: white;
}

.simple_form.search .form-check {
  display: inline-block;
  margin-right: 10px;
}
