.form-title {
  font-family: 'Raleway', sans-serif;
  weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #85C3DC;
}

.form-input {
  font-family: 'Raleway', sans-serif;
  weight: 400;
  font-size: 20px;
  color: grey;
}
