.date-info-title {
  font-size: 15px;
  color: grey;
  font-weight: bolder
}

.date-info-location {
  font-size: 12px;
  font-weight: lighter;
  color: grey;
}

.info-detail-marker {
  color: #F07B89;
  font-size: 15px;
}
