.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-wrapper {
  position: sticky;
  top: 10px;
}


.map-show {
  height: 500px;
  width: auto;
}

.map-index{
  position: sticky;
  top: 0;
}
