.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link{
  margin-right: 20px;

}


.navbar.navbar-expand-sm.navbar-light.navbar-lewagon .nav-link:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

.navbar.sticky.navbar-expand-sm.navbar-light.navbar-lewagon.transparant .nav-link,
.navbar.sticky.navbar-expand-sm.navbar-light.navbar-lewagon.transparant .nav-link.active,
.navbar.sticky.navbar-expand-sm.navbar-light.navbar-lewagon.transparant .nav-link:hover {
  color: white;
  transform: none;
}

.navbar.sticky.navbar-expand-sm.navbar-light.navbar-lewagon.transparant .nav-link:hover {

  text-decoration: underline;
  text-decoration-color: white;
}

.navbar .nav-link:hover {
    transform: none;
}

.transparant .nav-item-special:hover {
  border-color: white;
  border:none;
}

.transparant .nav-link.active {
  border-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

}

.transparant{
  background: none;
  box-shadow: none;
}


.nav-item-special {
  color: grey;
  font-family: 'Raleway', sans-serif;
  &:hover {
    text-decoration: underline;
    text-decoration-color: black;
  }
  .active {
    text-decoration: underline;
    text-decoration-color: black;
  }
}

.log-in {
  padding: 5px 10px;
  background: #85C3DC;
  border: 0.5px solid grey;
  border-radius: 5px;
  color: white !important;
  font-weight: bolder;
  transition: 0.5s;
  &:hover {
    transform: scale(1.01);
  }
}
