.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
}

.row-index {
    margin: 30px 20px 30px 20px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
    &:hover {
        transform: scale(1.01);
      }
}
.row-index-dashboard {
    margin: 30px 20px 30px 20px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
    &:hover {
        transform: scale(1.01);
      }
}


.dates-index-package-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin: 20px;
  align-items: center;
}

.dates-index-package-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  margin: 20px;
  align-items: center;
}


.date-index-package {
  text-align: center;
  background-position: center;
  background-size: cover;
  font-size: 20px;
  color: white;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.title-package-index {
    font-size: 40px;
    position: relative;
}

.package-title {
  background-color: #F07B8A;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.nr-of-activities {
  color: grey;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 3px;
}

.total-price {
  color: grey;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 3px;
}

.package-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px 150px;
}

.package-icons {
  color: #F07B8A;
  font-size: 20px;
}

.link-back {
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    &:hover {
        color: rgb(163, 163, 163);
        text-decoration: none;
    }
  }

.back-link {
  margin-bottom: 20px;
  margin-left: 50px;
}

.link-to-new-package {
  margin-right: 125px;
  margin-top: 30px;
}

  .link-to-package {
      color: black;
    &:hover {
        color: black;
        text-decoration: none;
    }
  }

  .package-show-header{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-left: 75px;
      margin-right: 75px;
      font-size: 60px;
      margin-top: 20px;
      font-weight: 600;
      border-bottom: 0.5px solid lightgrey;
      padding: 10px 20px;
      color: #85C3DC;
      font-family: 'Raleway', sans-serif;
  }

  .index-package-body{

    font-family: 'Raleway', sans-serif;
  }
