.category-wrapper {
    left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 20px;
  }
  
  .category-item {
    flex: 0 0 30%;
  }
  
  .category-selector {
    position: absolute;
    transform: scale(0);
  }

  .map-edit{
    height: 600px;
    margin-right: 10px;
  }
  
  .category-selector + label {
    display: block;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 300px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    border: solid;
    margin: 10px 10px;
    border-radius: 10px;
    border-width: 0px;
    height: 350px;
    border-color: rgb(0, 0, 0);
    &:hover {
      transform: scale(1.01);
    }
  }
  
  .category-selector:checked + label {
    color: rgb(0, 0, 0) !important;
    filter: none;
  }

  .category-selector + label {
    color: rgb(0, 0, 0) !important;
    filter: grayscale(100%);
  }

.btn-package-show {
  border-radius: 15px;
  background-color: white;
  position: absolute;
  right: 44%;
  top: 36px;
  margin-top: 50px;
  height: 50px;
  border-width: 1px;
  &:hover {
    transform: scale(1.01);
  }
}

.title-input {
  border-radius: 15px;
  position: relative;
  left: 14%;
  margin-top: 0px;
  height: 50px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  width: 500px;
  padding-right: 5px;
}

.form-control.is-valid {
  background-image: none;
  border-color: #F4F4F4;
  text-align: center;
  font-size: 40px;
  padding-right: 5px;
  border-color: rgb(0, 0, 0);
}

.link-back {
  font-size: 30px;
  color: black;
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  &:hover {
    color: rgb(163, 163, 163);
    text-decoration: none;
}
}

.image-package-show {
  height: 150px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  background-position: center;
}

.title-show-package {
  margin: 10px 10px;
  font-size: 20px;
}

.category-show-package {
  padding: 2px 5px;
  margin: 5px;
  background-color: #F07B89;
  color: white;
  font-size: 6px;
  border: 0.2px solid grey;
}

.categories-show-package {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.package-location-show{
  margin: 5px;
  color: lightgrey;
  font-size: 12px;
  font-weight: lighter;
}

.show-package-body{
  padding-top: 20px;
  background-color: #F4F4F4;
  font-family: "Nunito", "Helvetica", "sans-serif";
  display: flex;
}

.link-package-date-edit{
  position: absolute;
  bottom: 10px;
  left: 39%;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: #85C3DC;
  border: 0.2px solid grey;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 07;
  transition: 0.2s;
  &:hover{
    opacity: 1;
    text-decoration: none;
    color: grey;
  }
}