.date-activities-package-edit{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link-package-date{
  position: relative;
  top: 20px;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  background-color: #85C3DC;
  border: 0.2px solid grey;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 07;
  transition: 0.2s;
  &:hover{
    opacity: 1;
    text-decoration: none;
    color: grey;
  }
}

.edit-package-body{
  background-color: white;
}

.date_activity-edit {
  width: 450px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  padding: 20px 10px 30px 10px;
  border: solid;
  border-width: 1px;
  min-height: 560px;
  border-color: rgb(0, 0, 0);
}

.image-package-edit{
  height: 250px;
  width: 400px;
  border-radius: 15px;
}

.category-edit-package {
  padding: 2px 5px;
  margin: 5px;
  background-color: #F07B89;
  color: white;
  font-size: 10px;
  border: 0.2px solid grey;
}

.categories-edit-package {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.description-date-activity-edit {
  font-size: 12px;
}

.title-date-activity-edit {
  margin: 10px 10px;
  font-size: 20px;
}

.package-edit-header{
  border-radius: 15px;
  position: relative;
  left: 33.5%;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 40px;
  height: 60px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  width: 500px;
  padding-right: 5px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.location-date-activity-edit{
  margin: 5px;
  color: lightgrey;
  font-size: 12px;
  font-weight: lighter;
}