.new-review-form {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 75px;
}


.link-back {
  text-align: left;
  font-size: 15px;
  margin-left: 40px;
}

.submit-new-review-btn {
  text-align: center;
}

.new-review-img {
  img {
    height: calc(100vh - 166px);
    object-fit: cover;
    width: 100%;
  }
}

