.value-prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

.value-prop-heading {
  color: #85C3DC;
  font-weight: 500;
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
}

.value-prop-item {
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  width: 25%;
  margin: 10px;
  height: 300px;
  color: grey;
  transition: 0.5s;
}

.value-prop-icon {
  font-size: 40px;
  color: white;
  background-color: #85C3DC;
  padding-right: 10px;
  text-align: center;
}

.value-prop-text {
  display: block;
  text-align: center;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .value-prop-item {
    flex-wrap: wrap;
    width: 100%;
  }
}